.button {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 4px 8px;
    font-size: 1.4em;
    line-height: 1.2;
    border-radius: 8px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.button:hover {
    border-color: #000;
}

.button--primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.button--primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.button--primary:focus {
    box-shadow: 0 0 0 .2em rgba(0, 123, 255, .5);
}

.button--primary:active {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
}

.button--danger {
    color: #fff;
    background-color: #E91E63;
    border-color: #E91E63;
}

.button--danger:hover {
    color: #fff;
    background-color: #c41953;
    border-color: #c41953;
}

.button--danger:focus {
    box-shadow: 0 0 0 .2em rgba(188, 12, 130, 0.5);
}

.button--danger:active {
    color: #fff;
    background-color: #d23469;
    border-color: #d23469;
}
.button--secondary {
    color: #333;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}

.button--small {
    font-size: .8em;
    padding: 3px 6px;
}

.button--medium {
    font-size: 1em;
    padding: 4px 8px;
}

.button--large {
    font-size: 1.2em;
    padding: 8px 12px;
}

.btn-border-none {
    border-width: 0;
    box-shadow: none;
}